body {
  background-color: black;
  color: #9fa3a6;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  overflow: hidden;
  font-size: 18px;
}

.celebrate {
  background-color: white;
  color: black;
}

.banner-image {
  height: 100%;
}

.banner-image-container {
  position: absolute;
  right: 50%;
  top: -10%;
  height: 130%;
  width: 10000px;
  display: flex;
  justify-content: flex-end;
}

.mobile-banner-image {
  border-radius: 9px;
}

.mobile-banner-image-container {
  position: relative;
  display: none;
}

.banner-image-timer {
  position: absolute;
  right: 52.5vh;
  top: 43.95vh;
  height: 2.8vh;
  width: 5.15vh;
  overflow: hidden;
  font-size: 1.2vh;
  letter-spacing: 1.1;
  font-family: 'Helvetica Neue', Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: rgb(42, 160, 28);
  color: white;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;   /* Firefox all */
  -ms-user-select: none;  /* IE 10+ */
}

.mobile-banner-image-timer {
  position: absolute;
  left: 24.5px;
  top: 0;
  height: 100%;
  width: 83px;
  overflow: hidden;
  font-size: 18px;
  letter-spacing: 1.1;
  font-family: 'Helvetica Neue', Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: rgb(42, 160, 28);
  color: white;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;   /* Firefox all */
  -ms-user-select: none;  /* IE 10+ */
}

.text-container {
  position: absolute;
  left: 50%;
  top: 0;
  height: 80vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-weight: 300;
  font-size: 6vw;
  color: white;
  margin-bottom: 20px;
}

.celebrate h1 {
  color: red;
  font-weight: bold;
  font-size: 8vw;
}

#subtitle {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

li {
  margin-bottom: 0.5em;
}

strong {
  color: white;
}

.celebrate strong {
  color: red;
}

.logo-image {
  height: 50px;
  width: 50px;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(42, 160, 28);
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 24px;
}

.button:hover {
  background-color: rgb(50, 193, 33);
}

.celebrate .button {
  color: white;
  background-color: red;
}

.celebrate .button:hover {
  background-color: #ff3c3c;
}

.footer-container {
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: #888;
}

.mobile-footer-container {
  display: none;
}

a {
  color: #9fa3a6;
  text-decoration: underline;
}

.celebrate a {
  color: black;
}

/*@media only screen and (max-width: 801px) { */
@media only screen and (max-aspect-ratio: 1/1) {
  h1 {
    font-size: 10vw;
  }

  .celebrate h1 {
    font-size: 10vw;
  }

  .banner-image-container {
    display: none;
  }

  .mobile-banner-image-container {
    display: flex;
    margin-bottom: 50px;
    overflow: hidden;
  }

  .text-container {
    position: relative;
    top: 0;
    left: 5%;
    width: 90%;
    display: block;
    margin-top: 20%;
  }

  .footer-container {
    display: none;
  }

  .mobile-footer-container {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
  }
}
